h1 {
    text-align: center;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

body > div {
width: 18rem;
}


.gryffindor-card {
    background-color: #540709;    
}

.griff-img {
    max-width: 18rem;
    width: 100%;
    height: auto;
}

.griff-body {
    text-align: center;
   
}

.btn-griff {
    background-color: #645220;
    font-size: 1.5rem;
    border-radius: 5px;
    color:#ffffff;
}

.hufflepuff-card {
    background-color: #e19420;
}

.huff-img{
    max-width: 18rem;
    width: 100%;
    height: auto;
}

.huff-body {
    text-align: center;
    color:#ffffff;
}

.btn-huff {
    background-color: #372e29;
    font-size: 1.5rem;
    border-radius: 5px;
    color:#ffffff;
}

.ravenclaw-card {
    background-color: #204674;
}

.raven-img{
    max-width: 18rem;
    width: 100%;
    height: auto;
}

.card-body-w {
    text-align: center;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
}

.btn-raven {
    background-color: #5D5D5D;
    font-size: 1.5rem;
    border-radius: 5px;
    color:#ffffff;
}

.slytherin-card {
    background-color: #123a20;
}

.sly-img{
    max-width: 18rem;
    width: 100%;
    height: auto;
}

.sly-body {
    text-align: center;
    color:#ffffff;
}

.btn-sly {
    background-color: #5d5d5d;
    font-size: 1.5rem;
    border-radius: 5px;
    color:#ffffff;
}
.container2{
    width: 90vw;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}