.members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.card-body {
    padding: 1rem;
}


.card-name {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}


.button {
    text-align: center;
}




