<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{character.name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css')}}">
</head>
<body>
    <h1>{{character.name}}</h1>
    {% if character.picture %}
        <img src="{{character.picture}}" class="picture" alt="image">
    {% else %}
        <img src="{{ url_for('static', filename='alternative.png')}}">
    {% endif %}
    <p>Ancestry: {{character.ancestry}}</p>
    <p>Birth Year: {{character.birth_year}}</p>
    <p>Wand Material: {{character.wand}}</p>
    <p>Patronus: {{character.patronus}}</p>
</body>
</html>