<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry Potter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <h1>Harry Potter Houses</h1>
    <div class="container2"> <div class="gryffindor-card" style="width: 18rem;">
      <img src="{{ url_for('static', filename='Gryffindor.png')}}" class="griff-img" alt="image">
      <div class="card-body-w">
        <h5 class="griff-title">Gryffindor</h5>
        <p class="griff-text">Gryffindor students are known for their bravery, courage, and determination, with a strong sense of justice and a love for the underdog. They are often described as daring, passionate, and quick-thinking, willing to take risks and stand up for what they believe in.</p>
        <a href="houses.html" class="btn-griff">Griffyndors</a>        
      </div>
    </div>

    <div class="hufflepuff-card" style="width: 18rem;">
      <img src="{{ url_for('static', filename='Hufflepuff.png')}}" class="huff-img" alt="image">
      <div class="card-body-w">
        <h5 class="huff-title">Hufflepuff</h5>
        <p class="huff-text">Hufflepuffs in the Harry Potter universe are known for their strong sense of loyalty, hard work, dedication, fairness, and a belief in teamwork. They value these traits above all else and are often characterized as humble, kind, and patient. Hufflepuffs are also known for their dedication to what they do and their focus on doing things properly.</p>
        <a href="houses.html" class="btn-huff">Hufflepuffs</a>        
      </div>
    </div>

    <div class="ravenclaw-card" style="width: 18rem;">
      <img src="{{ url_for('static', filename='Ravenclaw.png')}}" class="raven-img" alt="image">
      <div class="card-body-w">
        <h5 class="raven-title">Ravenclaw</h5>
        <p class="raven-text">Ravenclaws are known for their intelligence, wisdom, wit, and creativity. They value learning and intellectual pursuits, and often possess a unique perspective and are open-minded.</p>
        <a href="houses.html" class="btn-raven">Ravenclaws</a>        
      </div>
    </div>

    <div class="slytherin-card" style="width: 18rem;">
      <img src="{{ url_for('static', filename='Slytherin.png')}}" class="sly-img" alt="image">
      <div class="card-body-w">
        <h5 class="sly-title">Slytherin</h5>
        <p class="sly-text">Slytherin traits include ambition, cunning, leadership, resourcefulness, determination, and a strong sense of self-preservation. They are also known for their intelligence, shrewdness, and a tendency to prioritize their own goals and well-being.</p>
        <a href="houses.html" class="btn-sly">Slytherins</a>        
      </div>
    <div></div>
   

</body>
</html>