<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}" />
</head>
<body>
    <div class="members">
        {% for member in members %}
            <div class="card" style="width: 18rem;">
                <img src="{{member.image}}" class="person-image" alt="image">
                <div class="card-body">
                    <h5 class="card-name">{{member.name}}</h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endfor %}
    </div>

</body>
</html>