<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>

    <div class="members">
        {% for member in members %}
            <div class="card" style="width: 18rem;">
            {% if member.image %}
                <img src="{{member.image}}" class="person-image" alt="image">
            {% else %}
                <img src="{{ url_for('static', filename='alternative.png')}}">
            {% endif %}
                <div class="card-body">
                    <h5 class="card-name">{{member.name}}</h5>
                    <a href="/character/{{member.id}}" class="button">See More</a>
                </div>
            </div>
        {% endfor %}
    </div>

</body>
</html>